<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <targets>
    <target name="console" xsi:type="Console" layout="${date:format=HH\:MM\:ss} ${logger} ${message}" />
    <target name="file" xsi:type="File"
            fileName="C:\Logs\Debug\river.net\log.txt"
            encoding="utf-8"
            maxArchiveFiles="10"
            archiveNumbering="Rolling"
            archiveEvery="Day"
            archiveAboveSize="10485760"
            archiveFileName="C:\Logs\Debug\river.net\log.txt.{#######}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="console,file" />
  </rules>
</nlog>